<h1><%= markdown_to_html @wiki.title %></h1>
<p><%= markdown_to_html @wiki.body %></p>

<% if policy(@wiki).edit? %>
  <%= link_to " Edit", edit_wiki_path(@wiki), id: "edit", class: 'btn btn-success glyphicon glyphicon-edit' %>
<% end %>
<% if policy(@wiki).destroy? %>
  <%= link_to " Delete", @wiki, method: :delete, id: 'delete', class: 'btn btn-danger glyphicon glyphicon-remove' %>
<% end %>